<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="vipul@prakashinfotech.com">
        <network host="mail.prakashinfotech.com" userName="vipul@prakashinfotech.com" password="passw0rd"/>
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings>
    <add name="EmailRequests" connectionString="Data Source=PSSPL31\SQLEXPRESS ;Initial Catalog=EmailRequests;Persist Security Info=True;User ID=sa;Password=sa@123456;MultipleActiveResultSets=True" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>